[credential]
    helper = /usr/lib/git-core/git-credential-libsecret

[user]
    email = suetin085@protonmail.com
    name = Danil Suetin
    signingkey = DE8B9CED0696C600
    
[core]
    autocrlf = false
    longpaths = true
    quotepath = false
    editor = hx

[alias]
    lola = log --graph --decorate --pretty=\"<%C(Yellow)%h%Creset>%C(auto)%d %Cred\\\"%Creset%s%Cred\\\" %C(Yellow)[%Cgreen%ar%C(Yellow)] - %Cred%an\" --abbrev-commit --all --date=raw
    lol = log --graph --decorate --pretty=\"<%C(Yellow)%h%Creset>%C(auto)%d %Cred\\\"%Creset%s%Cred\\\" %C(Yellow)[%Cgreen%ar%C(Yellow)] - %Cred%an\" --abbrev-commit
    s = status --short
    co = checkout
    b = branch
    r = rebase
    c = commit
    mt = mergetool
    cdiff = diff-tree --no-commit-id --name-status -r HEAD

[merge]
    tool = vimdiff
    
[commit]
    gpgsign = true

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
